Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;

  color: black;
}

.link {
  color: black;
}
.link:hover {
   color: #00F
}

.App{
  text-align: center;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.GitHubName{
 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.homePesquisa{
  display: flex;
  justify-content: space-around;
  padding: 250px 0px;
}

.cardsRepositorio{
  text-align: left;
}
.TextoRosa{
  color:#ac53f2;
}


